@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Get tickets to the greatest shows - Act Now!</h1>
        @Html.ActionLink("Order Tickets", "OrderForm")
    </div>
</body>
</html>
